html {
  background: #2C3E50;
}
.row {
  height: 40px;
}
.grid {
  width: 504px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.square {
  width: 40px;
  height: 100%;
  border: 1px solid #2C3E50;
  border-radius: 5px;
  display: inline-block;
  background-color: #6DBCDB;
  transition: background-color 0.05s ease;
}
.square.active {
  background-color: #ffcc66;
}
.square.toggled {
  background-color: #FC4349;
}

.playpause {
  width: 80px;
  height: 80px;
  background: blue;
}
